<app-alt-navbar></app-alt-navbar>
<div class="page_banner">
    <div class="row">
        <div class="col-md-6">
            <h6 class="text-white title-text f-wb mb-3 banner_text" id="slideText">
                Get in touch
            </h6>
        </div>
    </div>
</div>
<div class="contact_form section_content pt-0">
    <h6 class="title-text">
        We are always open <br> 24/7 for you.
    </h6>
    <div class="row">
        <div class="col-md-6 pr-0 pr-md-5">
            <form action="">
                <input type="text" class="contact_input mb-3" placeholder="Your name">
                <input type="text" class="contact_input mb-3" placeholder="Email address">
                <input type="text" class="contact_input mb-3" placeholder="Subject">
                <textarea type="text" class="contact_input mb-3" placeholder="Write your message"></textarea>
                <button class="button bg-app-primary text-white w-100">Send Message</button>
            </form>
        </div>
        <div class="col-md-6 pl-0 pl-md-5">
            <div class="group">
                <p class="f-20 text-app-black f-wb">Call us</p>
                <span class="text-app-grey">+1-492-4918-395 </span> <br>
                <span class="text-app-grey">+14-394-409-591</span>
            </div>
            <div class="group">
                <p class="f-20 text-app-black f-wb">Email us</p>
                <span class="text-app-grey">info@mail.com</span> <br>
                <span class="text-app-grey">support@mail.com</span>
            </div>
            <div class="group">
                <p class="f-20 text-app-black f-wb">Call us</p>
                <span class="text-app-grey">34 Madison Street,
                    NY, USA 10005 <br>
                </span>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>