@import '../programs.scss';
.why_start{
    img{
        border-radius: 15px;
    }
    h6.title-text{
        margin-bottom: 4rem;
    }
}
.beneficiaries h6, .achievement h6{
    margin-bottom: 2rem;
}
.achievement p{
    padding-left: 1.3rem;
        &::before{
        content: '';
        position: absolute;
        width: 8.5px;
        top: 8px;
        left: 1.2rem;
        height: 8.5px;
        border-radius: 50%;
        background: #000;
    }
}