<app-alt-navbar></app-alt-navbar>
<div class="page_banner">
  <div class="row">
    <div class="col-md-8 banner_text" id="slideText">
      <h6 class="text-white title-text f-wb mb-3">About us</h6>
      <p class="text-white f-16">
        We are a community that exists to inspire growth and make the path to
        finding one’s self as a young adult easier by providing the necessary
        resources such as mentorships,mental health workshops and internships.
      </p>
    </div>
  </div>
</div>
<div class="mission section_content pt-0">
  <div class="row">
    <div class="col-md-6 pr-0 pr-md-5">
      <h6 class="head-text">Our mission is to make youth life easier.</h6>
    </div>
    <div class="col-md-6 pt-3">
      <p class="text-app-grey f-18">
        We started off with just the Open Talk Sessions in 2018 and considering
        the growth and expansion happening with new projects there’s been the
        need to rebrand and position under a big umbrella hence, the new name
        THE MAGNOLIA COMMUNITY.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img
        src="../../../assets/img/about-img-1.png"
        alt=""
        class="mision_img img-fluid w-100 mb-3 mb-md-0"
      />
      <img src="../../../assets/img/watermark.svg" alt="" class="watermark" />
    </div>
    <div class="col-md-8">
      <img
        src="../../../assets/img/about-img-2.png"
        alt=""
        class="mision_img img-fluid"
      />
      <img src="../../../assets/img/watermark.svg" alt="" class="watermark" />
    </div>
  </div>
</div>
<div class="founders content">
  <h6 class="head-text text-app-black">Our Team</h6>
  <div class="row">
    <div class="col-md-6">
      <div class="founder_img">
        <img src="../../../assets/img/esther.png" alt="" />
      </div>
      <div class="founder_desc">
        <h6 class="text-app-black f-30">Esther Budu</h6>
        <p class="text-app-grey title">Director</p>
        <p class="text-app-grey f-14">
          Esther Budu is the brainchild behind “The Open Talk Sessions” which
          has now been extended to The Magnolia Community. She’s passionate
          about impacting the youth in the society and helping people.
        </p>
        <p class="text-app-grey f-14">
          She has a degree in Marketing from the University of Professional
          Studies and has also undertaken a Leadership Development Training
          course with AFS USA to further equip her to help people.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="founder_img">
        <img src="../../../assets/img/william.png" alt="" />
      </div>
      <div class="founder_desc">
        <h6 class="text-app-black f-30">William Budu</h6>
        <p class="text-app-grey title">Co Director</p>
        <p class="text-app-grey f-14">
          William Budu is a young man who is very passionate about helping
          people. He has been involved in the open talk projects since 2019 and
          has made tremendous contributions towards the success of the January
          2020 event.
        </p>
        <p class="text-app-grey f-14">
          He has a degree in Business Administration from the University of
          Ghana, legon and an MBA from Simon Fraser University (SFU).
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="founder_img">
        <img src="../../../assets/img/new-photo.jpg" alt="" />
      </div>
      <div class="founder_desc">
        <h6 class="text-app-black f-30">
          Sandra Fritsewa <br />
          Abruqua Esq
        </h6>
        <p class="text-app-grey title">Legal</p>
        <p class="text-app-grey f-14">
          Sandra Fritsewa Abruquah is a young lawyer, passionate about
          environmental protection, justice and service and with current
          engagement in social welfare projects with WALS Foundation in Ghana.
        </p>
        <p class="text-app-grey f-14">
          She holds a Bachelor of Laws Degree from University of Ghana, a B.L.
          from Ghana School of Law and a Certificate in International Criminal
          Law and Justice from the African Center of International Criminal
          Justice (ACICJ). She is also an Alumni of the Young African Leaders
          Initiative (YALI).
        </p>
        <p class="text-app-grey f-14">
          At the core of her personality is the belief in ambition, a thirst for
          challenges and openness to new experiences
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="founder_img">
        <img src="../../../assets/img/new-photo-2.jpg" alt="" />
      </div>
      <div class="founder_desc">
        <h6 class="text-app-black f-30">
          Angela <br />
          Wereko-Anderson
        </h6>
        <p class="text-app-grey title">Director of Strategy</p>
        <p class="text-app-grey f-14">
          Angela Wereko-Anderson has produced and consulted within the arts and
          culture sector in the UK for over five years. Having worked with
          galleries such as Tate and Science Gallery London, she has a vested
          interest in initiatives that engage and encourage collaboration and
          exchange through connecting schools, galleries, artists and cultural
          institutions worldwide. She believes that everyone has a creative
          spirit that once ignited, can aid them in transforming themselves and
          the society they live in.
        </p>
        <p class="text-app-grey f-14">
          She also champions diversity and believes that everyone should have
          access to opportunities, regardless of their race, gender or
          socio-economic background. Her experience also ranges across various
          industries-banking, finance and performing arts to name but a few.
        </p>
        <p class="text-app-grey f-14">
          Born and bred in Ghana for a short time before moving to the UK, she
          aims to bring her experience back home, by creating platforms and
          access to initiatives that bring the very best out of young Ghanaians
          in Ghana.
        </p>
      </div>
    </div>
    <img src="../../../assets/img/oval-2.svg" alt="" class="oval_clip" />
  </div>
</div>
<div class="board content">
  <h6 class="head-text text-app-black text-center">Magnolia Board</h6>
  <div class="row">
    <div class="col-12">
      <div class="founder_img">
        <img src="../../../assets/img/Joseph.png" alt="" />
      </div>
      <div class="founder_desc">
        <h6 class="text-app-black f-30">Joseph Maafo Budu</h6>
        <p class="text-app-grey title">Board Chair</p>
        <p class="text-app-grey f-14">
          Mr Joseph Maafo Budu is a native of Tutu Akuapem, in the eastern
          region of Ghana. born on 6th June 1953.He holds a BA degree in
          economics and statistics from the university of Ghana (1976) and an MA
          in educational administration and statistics from institute of
          education, university of London (1986).
        </p>
        <p class="text-app-grey f-14">
          His professional career was in university administration, having
          served at: University of Ghana from 1977 to 2013, Akrofi christaller
          Institute in akropong from 2003 to 2008 and Ghana Institute of
          Management and Public Administration from 2013 to 2016. He is an
          active Christian, worshipping at Legon Interdenominational Church and
          Tutu methodist church.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="partners content">
  <h6 class="title-text text-app-black text-center">Our Partners</h6>
  <div class="partners_content">
    <div class="partners_image">
      <img
        src="../../../assets/img/migration-ghana.png"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>
</div>
