$mag-green: #A7E66C;
$primary: #382EA7;
.banner{
    .wrapper{
       // min-height: 100vh;
    }
    .banner_bg{
        
    }
    .content{
        width: 62%;
        padding: 8rem 7% 2rem 12% ;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .join_group{
        width: 90%;
        display: flex;
        justify-content:space-between;
        background: #F7F7FB;
        border: 1px solid #EAE9F2;
        align-items: center;
        border-radius: 10px;
        padding: .3rem .3rem .3rem 1rem;
        button{
            width: auto;
            padding: .8rem 1.5rem;
            font-weight: bold;
        }
        .btn_group{
            min-width: 50%;
            display: flex;
        }
        input{
            width: 100%;
            height: auto;
            padding: 0 1rem;
            border: none;
            background: none;
        }
    }
}
.programs{
    margin-bottom: 2.4rem;
    img{
        margin-bottom: 2rem;
    }
    h6{
        margin-bottom: 1.5rem;
    }
    a{
        text-decoration: underline;;
    }
}
.achievements{
    margin-bottom: 2rem;
    .title{
        margin-bottom: 5rem;
        h6{
            margin-bottom: 1.5rem;
        }
        
    }
    .blog_img{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .watermark{
        width: auto;
        position: absolute;
        right: -1rem;
        bottom: -1rem;
        position: absolute;
    }
}
.session{
    margin-bottom: 1rem;
    .title{
        display: flex;
        margin-bottom: 3rem;
        align-items: flex-end;
    }
    h6.head-text{
        width: 48%;
        padding-right: 1rem;
    }
    p.clip_desc{
        width: 52%;
        font-size: 18px;
        color: #696871;
    }
    .clip{
        position: relative;
    }
    .play_btn{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        cursor: pointer;
        &:hover, &:active{
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
            border: 4px solid $mag-green;
            border-radius: 50%;
        }
    }
}
.testimonial{background: #E5E5E5;
    margin-bottom: 1.5rem;
    .title{
        margin-bottom: 3rem;
    }
    .wrapper{
        display: flex;
        justify-content: space-around;
    }
    .testimony_item{
        width: 43%;
        background: #FFFFFF;
        border: 1px solid #EAE9F2;
        border-radius: 10px;
        padding: 1.2rem 1rem;
    }
    .testimony_counter{
        text-align: center;
        span{
            width: 17px;
            height: 8px;
            background: #EAE9F2;
            border-radius: 4px;
        }
    }
}
.active_item{
    width: 45px;
    border-radius: 4px;
    height: 8px;
    background:$primary;
}
@media (max-width: 768px) {
    .banner{
        .content{
            padding: 2rem 5%;
            width: 100%;
        }
        .banner_bg{
            display: none;
        }
    }
}
@media (max-width: 599px) {
    .banner{
        .join_group{
            display: block;
            width: 100%;
            padding: .4rem .75rem;
            .btn_group{
                margin-bottom: .5rem;
            }
            button{
                width: 100% !important;
            }
            input{
                padding: .75rem 1rem;
            }
        }
        
    }
    .achievements{
        .title{
            width: 100%;
        }
    }
    .session{
        margin-bottom: 1rem;
        .title{
            display: block;
        }
        h6.head-text{
            width: 46%;
            margin-bottom: 1rem;
        }
        p.clip_desc{
            width: 100%;
        }
        .play_btn{
            position: absolute;
        }
    }
}