<div class="_nav">
    <app-navbar></app-navbar>
</div>
<div class="banner">
    <div class="wrapper d-flex">
        <div class="content">
            <h6 class="title-text text-app-black">Inspiring the growth inside of you</h6>
            <p class="text-ap-grey f-16">
                We are a community that exists to inspire growth and make the path to 
                finding one’s self as a young adult easier by providing the necessary 
                resources such as mentorships mental health workshops and internships. 
            </p>
            <div class="join_group">
                <div>
                    <img src="../../../assets/img/email-84.svg" alt="">
                    <input type="text" class="text-app-grey" placeholder="Email address">
                </div>
                <button class="button f-16 join bg-app-teal">I want to join</button>
            </div>
        </div>
        <div class="banner_bg pr-0">
            <img src="../../../assets/img/banner-image.png" class="img-fluid" alt="">
        </div>
    </div>
</div>