$mag-green: #A7E66C;
$app-black: #19191B;
$primary: #382EA7;
.navbar{
    padding: 0 1rem 0 4.5rem;
    background: none;
    z-index: 1;
    position: fixed;
    right: 0;
    left: 0;
}
.navbar-brand img{
    width: 16rem;
}
.mid_list{
    padding-left: 7rem;
}
.sticky-top{
    z-index: 102;
}
.nav-item{
    a{
        color: $app-black;
        font-size: 16px;
        font-family: Brown;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
        letter-spacing: -0.500211px;
    }
}

.router_active{
    color: $mag-green !important;
}

.program_dropdown{
    position: absolute;
    background: #fff;
    border-radius: 3px;
    height: auto;
    margin-left: 5px;
    padding: .5rem;
    &:after{
        content: "";
        position: fixed;
        background: #212121;
        top: 0;
        opacity: .2;
        left: 0;
        z-index: -1;
        right: 0;
        bottom: 0;
    }
    .item{
        padding: .2rem .5rem;
        font-size: 14px;
        margin-bottom: .4rem;
        border-radius: 5px;
        cursor: pointer;
        &:hover, &:active, &:focus{
            background: #f8f8f4;
            outline-width: 0;
            outline: none;
        }
    }
}
.slide_in{
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    transform: translateX(150%);
    transition: transform 1s ease-in-out;
  }
  .slide_menu{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999999;
    left: 0;
    width: 24rem;
    animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }
  .phone{
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    transform: translateX(-200%);
    transition: transform 1s ease-in-out;
  }
  
  .banner_text{
    animation: fadeInText ease-in-out 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
  }
  @keyframes fadeInText { 
    0% { 
        opacity: 0; 
    }
    50% { 
        opacity: 0.5; 
    } 
    100% { 
        opacity: 1; 
    } 
  }
  .motion_in{
    transform: translateX(0);
  }
.mobile-menu{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2) !important;
    background: #fff;
    padding: 4rem 3rem;
    .close{
        color: red;
        font-size: 30px;
        text-align: right;
        position: absolute;
        top: 2rem;
        right: 3rem;
        &:hover{
            color: red;
        }
    }
    .company_logo{
        img{
            width: 80px;
        }
    }
    ul{
        list-style: none;
        color: $app-black;
        padding: 1rem 0 !important;
        // a{
        //     color: $app-black;
        // }
        button{
            padding: .3rem 1.2rem;
            border-radius: 3px;
            box-shadow: none;
            border: none;
        }
    }
    .contacts{
        position: absolute;
        bottom: 5rem;
    }
}
@media (max-width: 599px) {
    .navbar{
        .fa-bars{
            color: $primary !important;
        }
    }
}
@media (max-width: 768px) {
    .navbar{
        padding: 0 5%;
    }
}