<app-alt-navbar></app-alt-navbar>
<div class="page_banner">
  <div class="row">
    <div class="col-md-6 banner_text" id="slideText">
      <h6 class="text-white title-text f-wb mb-3">
        The Open Talk <br />
        Sessions
      </h6>
      <p class="text-white f-16">
        Annual events held with professionals to discuss various topics of
        societal concern.
      </p>
    </div>
  </div>
</div>
<div class="why_start section_content pt-0">
  <!-- <h6 class="title-text">
    The open talk sessions focuses on tackling issues of mental health that by
    utilizing work shops and support groups that provide solutions, a listening
    ear and a warm embrace.
  </h6> -->
  <div class="row">
    <div class="text">
      <h6 class="text-app-black f-30 f-wb">Support Groups</h6>
      <p class="text-app-grey f-16">
        These are community gatherings of people facing similar issues that will
        be held monthly online or in-person.
      </p>
    </div>
    <div class="image">
      <img
        src="../../../assets/img/open-talk-img-2.png"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>
  <div class="row">
    <div class="image">
      <img
        src="../../../assets/img/open-talk-img-1.png"
        alt=""
        class="img-fluid"
      />
    </div>
    <div class="text">
      <h6 class="text-app-black f-30 f-wb">Workshops</h6>
      <p class="text-app-grey f-16">
        These are annual events led by various resource personnel to discuss
        issues of societal concern
      </p>
    </div>
  </div>
</div>
<div class="gallery section_content" id="gallery">
  <div class="title text-center">
    <h6 class="text-app-black title-text">Gallery</h6>
    <p class="text-app-black f-18">
      We have grown since 2018 and plan a bigger expansion <br />
      projects, take a look at what we have achieved so far
    </p>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let item of gallery; let i = index">
      <img
        [src]="item?.src"
        alt=""
        class="gallery_img img-fluid c_p card-img"
        (click)="open(i)"
        style="height: 336px"
      />
    </div>
  </div>
</div>
<app-footer></app-footer>
