.lightbox{
    width: 50rem;
    min-height: 45rem;
}
.main{
    position: relative;
    border-radius: 5px;
    padding: .5rem 1rem;
    background: #f8f8f8;
}
.next, .prev{
    width: 35px;
    display: flex;
    position: absolute;
    border: none;
    top: 48%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2) !important;
    cursor: pointer;
    background: #382EA7;
    height: 35px;
    &:active,&:hover{
        outline: none;
        outline-width: 0;
        background: #4ED8CE;
    }
}
.prev{
    left: 0;
}
.next{
    right: 0;
}