<router-outlet></router-outlet>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body bg-primary">
        <img
          src="../assets/img/banner-image.png"
          class="card-img h-100"
          alt=""
        />
        <div class="card-img-overlay bg-dark">
          <div class="container pb-4">
            <div class="d-flex justify-content-end">
              <button
                type="button"
                class="btn text-white join"
                data-bs-dismiss="modal"
              >
                X
              </button>
            </div>
            <h6 class="title-text text-white mb-4 text-center">
              Who is a community member?
            </h6>
            <p class="text-white f-15 mb-4">
              This is what we call our volunteers who work with us to create
              impacts in society. Our volunteering opportunities are;
            </p>
            <p class="text-app-grey text-white f-15">• Marketing/Advertising</p>
            <p class="text-app-grey text-white f-15">
              • Photography/Videography
            </p>
            <p class="text-app-grey text-white f-15">• Planning/Organization</p>
            <p class="text-app-grey text-white f-15">• Mentorship</p>
            <p class="text-app-grey text-white f-15">• Facilitation</p>
            <p class="text-app-grey text-white f-15">• Other ways of helping</p>
            <p class="text-app-grey text-white f-15 mt-4">
              Become a community member today by signing up
            </p>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfhvLq9lQqTHI5pgEmD4cEUTDQ_SmIFHCm9RRm-0m3NN68wSw/viewform?usp=sf_link"
            >
              <button
                class="nav-link bg-app-teal join w-100 text-white mt-5 mb-4"
              >
                Sign Up
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
