<router-outlet></router-outlet>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="../assets/img/banner-image.png" class="card-img" alt="" />
        <div class="card-img-overlay bg-dark">
          <div class="container pb-4">
            <h6 class="title-text text-white mb-4 text-center">
              Who is a community member?
            </h6>
            <p class="text-white f-15 mb-4">
              This is what we call our volunteers who work with us to create
              impacts in society. Our volunteering opportunities are;
            </p>
            <p class="text-app-grey text-white f-15">• Marketing/Advertising</p>
            <p class="text-app-grey text-white f-15">
              • Photography/Videography
            </p>
            <p class="text-app-grey text-white f-15">• Planning/Organization</p>
            <p class="text-app-grey text-white f-15">• Mentorship</p>
            <p class="text-app-grey text-white f-15 mt-4">
              Other ways of helping Become a community member today by signing
              up
            </p>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfhvLq9lQqTHI5pgEmD4cEUTDQ_SmIFHCm9RRm-0m3NN68wSw/viewform?usp=sf_link"
            >
              <button
                class="nav-link bg-app-teal join w-100 text-white mt-5 mb-4"
              >
                Sign Up
              </button>
            </a>
          </div>
        </div>
      </div>

      <!-- <div class="modal-footer bg-dark sm">
        <button
          type="button"
          class="nav-link bg-app-teal join"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div> -->
    </div>
  </div>
</div>
