<div class="section_content">
  <div class="intro">
    <h6 class="title-text text-app-black">
      We look forward to creating as much impact as possible
    </h6>
    <div class="btn_group">
      <button
        class="bg-app-teal button join"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Join Community
      </button>
    </div>
  </div>
</div>
<footer class="section_content">
  <div class="row">
    <div class="col-md-4">
      <a class="f-wb text-app-black f-18">THE MAGNOLIA COMMUNITY</a>
    </div>
    <div class="col-md-3">
      <a class="text-app-black f-wb f-14">Frequently Asked Questions</a>
    </div>
    <div class="col-md-2">
      <a class="text-app-black f-wb f-14">Our Founders</a>
    </div>
    <div class="col-md-3">
      <a class="text-app-black f-wb f-14">© 2020 TMC, All Rights Reserved</a>
    </div>
  </div>
</footer>
