html, body { height: 100%; }
body { margin: 0}
@font-face {
  font-family: Mermaid;
  src: url(./assets/Myfonts/Mermaid1001.ttf) format("opentype");
}
*{
  h6{
    font-family: Mermaid;
  }
}
$colorScheme : (
    //3CC44D
    //F26522
    primary:#382EA7,
    teal: #4ED8CE,
    altTeal: #D3F5D3,
    mag-green: #A7E66C,
    tertiary: #F7B924,
    alt: #fd976629,
    text-black: #19191B,
    text-grey: #698971,
);

@function color($key) {
    @return map-get($colorScheme, $key);
}
.bg-app-primary{
    background: color(primary) !important;
    color: #fff !important;
}
.bg-app-teal{
  background: color(teal);
  color: #fff;
}
.bg-app-lightteal{
    background: color(altTeal);
}
.bg-app-outlet{
  background: color(outlet);
  color: #fff;
}
.bg-app-black{
  background: color(text-black);
  color: #fff;
}

.bg-app-green{
  background: color(mag-green) !important;
  color: #fff;
}
.text-app-primary{
    color: color(primary) !important;
}
.text-app-green{
  color: color(mag-green) !important;
}
.text-app-light{
    color: #fff !important;
}
.text-app-teal{
    color:color(teal)
}
.text-app-lightteal{
    color: color(altTeal);
}
.text-app-grey{
  color: color(text-grey);
}
.text-app-green{
  color: color(bg-green);
}
.text-app-black{
  color: color(text-black);
}
.text-app-grey{
  color: color(text-dark) !important;
  letter-spacing: -0.500211px;
}
.open-talk-nav{
  background: #005F58 !important;
}
.intenship-nav{
  background: #6B5ACC !important;
}
.contact-nav{
  background: color(primary) !important;
}
//custom font sizes
.f-12{
  font-size: 12px;
}
.f-10{
  font-size: 10px;
}
.f-12{
  font-size: 12px;
}
.f-15{
  font-size: 15px;
}
.f-14{
  font-size: 14px;
}
.f-18{
  font-size: 18px;
}
.f-20{
  font-size: 20px;
}
.f-24{
  font-size: 24px;
}
.f-34{
  font-size: 34px;
}
.f-30{
    font-size: 30px;
}
.f-40{
  font-size: 40px;
}
.f-44{
  font-size: 44px;
}
.f-64{
  font-size: 64px;
}
.f-48{
  font-size: 48px;
}
.f-40{
  font-size: 40px;
}
.f-44{
  font-size: 40px;
}
//custom font-weights
.f-w3{
  font-weight: normal;
}
.f-w300{
  font-weight: 300;
}
.f-w6{
  font-weight: 600;
}
.f-w5{
  font-weight: 500;
}
.f-w4{
  font-weight: 400;
}
.f-wb{
  font-weight: bold;
}
.c_p{
    cursor: pointer;
}
.button{
    box-shadow: none;
    border: none;
}
::placeholder{
    color: color(text-grey) !important;
}
.head-text{
    font-family: Mermaid;
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 84px;
    letter-spacing: -2.50105px;
}
.title-text{
    font-family: Mermaid;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: -1.87579px;
}
//button styling
.join{
    border-radius: 5px;
    padding: 0.45rem 1rem;
}
//formatting inpit outlines
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    outline-width: 0;
}
.section_content{
    padding: 3rem 15%;
}

//program  pages custom css

@media (max-width: 768px) {
    .section_content{
        padding: 3rem 7%;
    }
}
@media (max-width: 599px) {
    .section_content{
        padding: 3rem 5%;
    }
}
@media (max-width: 987px) {
    .head-text{
        font-size: 50px;
    }
    .title-text{
        font-size: 35px;
    }
}